html{
  background-color: #aaa;
}
/* 導覽列 */
nav{
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0px;
}
nav a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}
nav a:hover{
  background-color: rgb(255, 136, 0);
}
nav:hover{
  box-shadow: 0 5px 10px  #565656;
}
  /* 首頁 */
.background{
  background-image: url(pictures/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;   
  }
  .index{
  position: absolute;
  right: 20%;
  top: 40%;
  width: 100%;
  }
.index,p{
 font-size: 18px;
 padding: 10px;
}
/* 自我介紹 */
.page2{
  margin-top: 100px;
  margin-bottom: 100px;
}
.img{
 padding: 10px; 
}
.img,img{
 height: 180px;
 position: relative ;
}
.page2,p{
 text-align: center;
}
/* page3 */
.page3{
  display:flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content:center;
}
.page3 img{
  width: 200px;
  height: 283px;
  margin: 0px 100px;
}
.page3 .txt{
  margin: 15px;
}
/* footer */
footer{
  width: 100%;
  height: 20%;
  background-color: rgb(31, 30, 30);
}
footer .link{
  display:flex;
}
footer i{
  font-size: 35px;
  color: #fff;
  margin: 10px 15px 10px;
  justify-content: center;
  text-align:center;
}
footer p{
  color: #fff;
}